/*twikooUA*/
.tk-extra[data-v-d82ce9a0] {
    padding: .2em .5em;
    border-radius: .2em;
    background: #ededed;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
}
.tk-comment[data-v-d82ce9a0] {
    box-shadow: 2px 2px 5px #9a9a9a;
    border-radius: 8px;
    padding: 15px;
    margin-top: 1rem;
}
.tk-comment[data-v-d82ce9a0] {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    word-break: break-all;
}
#twikoo .tk-comment .tk-replies .tk-comment {
    box-shadow: none;
}
.tk-replies {
    margin-left: -85px;
